/* место для вашего кода */

/* Общие */

/* Шапка */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding: 92px 50px;
  align-items: center;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 12px;
  list-style: circle;
  list-style-position: inside;
  font-size: 18px;
  line-height: 21px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}


.header__menu-link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.link-active {
  text-decoration:none;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  max-width: 240px;
  justify-self: end;
  flex-direction: column;
  align-items: flex-start;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
}
/* Основной контент */

/* Первая секция */

.cover {
  padding: 50px;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 180px;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}

.cover__title {
  font-size: 100px;
  line-height: 115%;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 115px;
  position: inherit;
  z-index: 1;
}

.aligned-text {
  display: block;
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.aligned-text_left {
  text-align: left;
  padding-bottom: 20px;
}

.aligned-text_center {
  text-align: center;
  padding-left: 26px;
  padding-bottom: 20px;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  padding-top: 106px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: inherit;
  z-index: 1;
}

.cover__description-text {
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18.6px;
  color: #ffffff;
}

.bet-button {
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  padding: 12px 32px 11px 31px;
}

/* Вторая секция */

.lots {
  margin: 0 24px 120px;
}

.lots__heading {
  padding-left: 40px;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.lots__card-list {
  padding-top: 27px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  gap: 25px;
  flex-wrap: wrap;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");

}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 596px;
  padding: 48px 40px;
  position: relative;
}

.card__title {
  font-size: 22px;
  line-height: 120%;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  color: #ffffff;
  z-index: 1;
}

.card__text {
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  color: #ffffff;
  z-index: 1;
}

.lots__look-more-link {
  padding-left: 40px;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

/* Третья секция */

.about {
  margin: 0 24px;
  display: grid;
  grid-template-columns: 334px 1fr;
  align-items: start;
  justify-items: center;
  padding-top: 35px;
  margin-bottom: 180px;
}

.about__logo {
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  border-radius: 50%;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column {
  display: flex;
  flex-direction: column;
  padding-top: 98px;
}

.about__title {
  padding-bottom: 105px;
  padding-left: 25px;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-left: 25px;
  font-size: 20px;
  line-height: 24px;
}

/* Подвал */

.footer {
  display: grid;
  grid-template-columns: 1fr 164px 1fr;
  padding: 0 50px 84px;
}

.address-block__footer {
  justify-self: start;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;

}

.footer__menu-link {
  font-size: 18px;
  text-decoration: underline;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 48px;
}

.footer__social-icon {
  width: 48px;
}
