/* место для вашего кода */

/* Общие */

h1 {
    font-size: 100px;
    line-height: 115px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* Шапка */

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    padding: 92px 50px 96px;
    align-items: center;
}

.header__menu {
}

.header__links-list {
    display: flex;
    flex-direction: row;
    gap: 12px;
    list-style: circle;
    list-style-position: inside;
    font-size: 18px;
    line-height: 21px;
     
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__links-list-item {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.address {
    display: flex;
    max-width: 240px;
    justify-self: end;
    flex-direction: column;
    align-items: flex-start;
    font-style: normal;
    font-size: 18px;
}


/* Основной контент */

/* Первая секция */

.cover {
    padding: 50px;
    background-image: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 180px;
    
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.cover__title {
    padding-top: 165px;;
    position: inherit;
    z-index: 1;
}

.aligned-text {
    display: block;
    letter-spacing: 30px;
}

.no-letter-spacing {
    letter-spacing: 0px;
}

.aligned-text_left {
    text-align: left;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.cover__description {
    padding-top: 106px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: inherit;
    z-index: 1;
}

.cover__description-text {
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 20px;
    color:#FFFFFF;
}

.bet-button {
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    color:#FFFF;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    padding: 12px 32px 11px 31px;
}

/* Вторая секция */